/*
    File: style.css
    Author: Yash Balotiya
    Description: This file contains styling part of Home page - Section 1 & 2, Hero Intro and About Me.
    Created on: 30/12/2024
    Last Modified: 11/01/2025
*/

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Section 1: Intro */
#sec-1 {
    width: 75%;
    padding-top: 5%;
}

/* Hero Image */
#hero-img-div {
    display: flex;
    justify-content: end;
    z-index: 100;
}

#hero-img {
    width: 40vh;
}

/* For mobile */
#dj-name-3 {
    display: none;
}

/* Main Content */
#main-content-div,
#welcome-text-div {
    display: flex;
    flex-direction: column;
}

#main-content-div {
    position: relative;
    top: -40%;
}

/* Welcome Text */
#welcome-div {
    display: flex;
    width: 92%;
}

#ganesh-name-1 {
    font-size: large;
    color: #ff0150;
}

#dj-name-1,
#dj-name-2,
#ganesh-span {
    font-size: 6.5vw;
    font-weight: bolder;
}

#dj-name-1 {
    width: 68%;
}

#dj-name-2 {
    margin-left: 20px;
    height: 8vw;
}

.overlapping-element {
    background: rgba(255, 255, 255, 0.5);
}

#ganesh-span {
    color: white;
}

/* Section 2: About Me */
#sec-2 {
    width: 75vw;
    background-color: #1e1e1e;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 20px;
}

/* About Headers */
#about-h3 {
    color: lightgray;
}

#professional-h1 {
    font-size: 5vw;
    font-weight: bolder;
}

/* Professional Text Animation */
#sec-2>#professional-h1 {
    animation: revealing;
    animation-timeline: view(block);
    animation-range: cover 0% cover 50%;
    margin: 0px;
}

@keyframes revealing {
    from {
        color: gray;
        margin-left: 100vw;
        filter: blur(50px);
        opacity: 0.5;
    }

    to {
        margin: 0px;
        filter: blur(0px);
        opacity: 1;
    }
}

/* About Me Area */
#about-content-div {
    display: flex;
    justify-content: space-between;
}

/* Left Image */
#djg-logo-4 {
    width: 20vw;
    height: 20vw;
}

/* Middle Text */
#about-me-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 20px;
}

/* Right Image */
#ganesh-1 {
    /* width: 20vw; */
    width: 30%;
}