/*
    File: videos.css
    Author: Neha Balotia
    Description: This file contains all CSS code for the videos page.
    Created on: 30/12/2024
    Last Modified: 02/02/2025
*/

* {
    padding: 0;
    margin: 0;
}   

#video {
    position: relative;
    width: 100vw;
    height: 50vh; 
    overflow: hidden; 
}

.text {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    font-family: fantasy;
    color: white;
    font-size: 100px; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

#vidtxt{
    margin-top: 10px;
    text-align: center;
    font-family: fantasy;
    color: rgb(0, 0, 0);
    font-size: 30px; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.vid-large {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; 
    height: 100%; 
}  

#v1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    width: 100vw;
    height: 70vh;
}


.subvid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap:20px;
}

.subvid .v{
    padding: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: none;
}

.subvid .v:nth-child(1),
.subvid .v:nth-child(2),
.subvid .v:nth-child(3),
.subvid .v:nth-child(4),

.v iframe {
    width: 24vw;
    height: 25vh; 
    margin-top: 6px;
    display: block;
}


#load-more{
    margin-top: 15px;
    display: inline-block;
    padding:13px 30px;
    border:1px solid #334;
    color:#334;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}


#load-more:hover{
display: inline-block;
background-color: crimson;
border-color: crimson;
color:#fff;
}