/*
    File: videos.css
    Author: Neha Balotia
    Description: This file contains all CSS code for the videos page.
    Created on: 30/12/2024
    Last Modified: 30/12/2024
*/

* {
    padding: 0;
    margin: 0;
}

#vid{
    display: flex;
    width: 100vw;
    height: 40vh;
    background-color: rgb(185, 190, 195);
    background-image: url('https://t3.ftcdn.net/jpg/01/10/11/00/360_F_110110063_4kxHX5YKcqrKqFz9udsaqmjkTCoOhKHc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
    margin: auto;
    font-family: fantasy;
    color: white;
    font-size: 100px;
}

#v1{
    padding-top: 10px;
    width: 100vw;
    height: 70vh;
}


.subvid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap:20px;
}

.subvid .v{
    padding-top: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #fff;
    border-radius: 5px;
    display: none;
}

.subvid .v:nth-child(1),
.subvid .v:nth-child(2),
.subvid .v:nth-child(3),
.subvid .v:nth-child(4),

.v iframe {
    width: 24vw;
    height: 25vh; 
    margin-top: 6px;
    display: block;
}


#load-more{
    margin-top: 15px;
    display: inline-block;
    padding:13px 30px;
    border:1px solid #334;
    color:#334;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
}

.parent-container {
    display: flex;
    justify-content: center;
}


#load-more:hover{
display: inline-block;
background-color: crimson;
border-color: crimson;
color:#fff;
}