<!-- 
    File: view/about.html
    Author: Yash Balotiya
    Description: This file contains all the HTML5 code of Contact Me Page.
    Created on: 09/01/2025
    Last Modified: 03/02/2025
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Tab Details -->
    <title>DJGSONYYYYY | About Me</title>
    <link rel="shortcut icon" type="x-icon" href="../asset/svg/headphoneIcon.svg">

    <meta name="description"
        content="Welcome to DJGSONYYYYY, the ultimate choice for all your event needs! Whether it's a Wedding, Engagement, Birthday party, Navratri celebration, Garba night, Private party, or School/College function, DJGANESH ensures your event is a memorable one. With the best sound, music, and DJ services tailored to your unique event, let us make your special occasion extraordinary.">

    <meta name="keywords"
        content="DJ for weddings, DJ for parties, DJ for engagement, DJ for birthdays, Best DJ services, DJ for Navratri, DJ for Garba, Professional DJ services, School event DJ, College function DJ, Best sound and music, DJ services for private parties, Event DJ hire, Top-rated DJ, DJ for celebrations, Party DJ services, Mumbai, DJ, Ganesh, DJGSONYYYYY, DJGANESH, DJGSONYYYYY.in, Yash Balotiya, Yash, Balotiya, Ganesh, Sunariwal, Ganesh Sunariwal, AlgoDevs, Mumbai">

    <meta name="robots" content="index, follow">
    <meta property="og:title" content="DJGANESH - Best DJ Services for All Events">
    <meta property="og:description"
        content="Experience unforgettable moments with DJGANESH at your weddings, parties, Navratri, Garba, and more. Professional DJ services with the best sound and music.">

    <meta property="og:image" content="../asset/image/djg-logo-4.png">
    <meta property="og:url" content="https://www.djgsonyyyyy.in/">
    <meta property="og:site_name" content="DJGSONYYYYY">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta property="og:locale:alternate" content="en_IN">

    <meta name="author" content="Yash Balotiya">
    <meta name="application-name" content="DJGSONYYYYY">

    <!-- Bootstrap5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Fonts Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ysabeau+SC:wght@1..1000&display=swap"
        rel="stylesheet">

    <!-- Stylesheets -->
    <!-- Navbar & Footer -->
    <link rel="stylesheet" href="../style/shared/navbar.css">
    <link rel="stylesheet" href="../style/shared/footer.css">

    <!-- Animated Buttons -->
    <link rel="stylesheet" href="../style/shared/button-5.css">

    <!-- Main Styles -->
    <link rel="stylesheet" href="../style/desktop/about.css">
    <link rel="stylesheet" href="../style/responsive/about.css">
</head>

<body>
    <!-- Navbar -->
    <header>
        <nav>
            <!-- Mobile -->
            <ul class="sidebar">
                <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24px"
                            viewBox="0 -960 960 960" width="24px" fill="#fff">
                            <path
                                d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
                        </svg> </a></li>
                <li><a href="../">Home</a></li>
                <li><a href="../view/videos.html?type=1">Videos</a></li>
                <li><a href="../view/videos.html?type=2">Vlogs</a></li>
                <li><a href="../view/about.html">About</a></li>
                <li><a href="../view/contact.html">Bookings</a></li>
            </ul>

            <!-- Desktop -->
            <ul class="navbar">
                <li class="one"><a href="../"><img src="../asset/image/djg-logo-1.png" alt="DJGSONYYYYY"
                            id="navbar-logo"></a></li>
                <li class="hideOnMobile"><a href="../">Home</a></li>
                <li class="hideOnMobile"><a href="../view/videos.html?type=1">Videos</a></li>
                <li class="hideOnMobile"><a href="../view/videos.html?type=2">Vlogs</a></li>
                <li class="hideOnMobile"><a href="../view/about.html">About</a></li>
                <li class="hideOnMobile"><a href="../view/contact.html">Bookings</a></li>
                <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg"
                            height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff">
                            <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
                        </svg></a></li>
            </ul>

            <!-- Tab -->
            <ul class="tabScreen">
                <a href="../"><img src="../asset/image/djg-logo-1.png" alt="DJGSONYYYYY" id="navbar-logo"></a>

                <div>
                    <li><a href="../">Home</a></li>
                    <li><a href="../view/videos.html?type=1">Videos</a></li>
                    <li><a href="../view/videos.html?type=2">Vlogs</a></li>
                    <li><a href="../view/about.html">About</a></li>
                    <li><a href="../view/contact.html">Bookings</a></li>
                </div>
            </ul>
        </nav>
    </header>

    <!-- Main Content Area -->
    <main>
        <!-- Header Text Section -->
        <section id="aboutHeaderText">
            <h3>About Me</h3>
            <h1>DJGSONYYYYY - DJ GANESH</h1>
        </section>

        <!-- About Me Section 1 -->
        <section id="aboutMeSec1">

            <!-- Left Side Video -->
            <!-- <img src="../asset/image/ganesh-1.jpg" alt="Ganesh Sunariwal"> -->
            <!-- <video src="../asset/video/djganesh_video_1.mp4" playsinline autoplay loop muted controls>
                Your browser does not support the video tag.
            </video> -->

            <video src="../asset/video/Ganesh About Video 2.mp4" playsinline autoplay loop muted controls>
                Your browser does not support the video tag.
            </video>

            <!-- Right side text -->
            <div id="aboutText1">
                <p>Welcome to the rhythm of unforgettable experiences! I’m DJGanesh, a professional DJ with a
                    deep-rooted passion for music and a mission to create magical moments for every audience I perform
                    for.</p>

                <p>Over the years, I’ve had the privilege of bringing energy and excitement to countless events, from
                    elegant weddings and high-energy corporate parties to pulsating music festivals. I pride myself on
                    my ability to read the crowd, blend beats seamlessly, and keep the dance floor alive with an
                    electrifying atmosphere.</p>

                <!-- Right Bottom Social Media -->
                <div id="socialMediaDiv">
                    <!-- Facebook -->
                    <span class="iconSpan" id="facebookIcon">
                        <i class="fa-brands fa-facebook"></i>
                    </span>

                    <!-- Instagram -->
                    <span class="iconSpan" id="instagramIcon">
                        <i class="fa-brands fa-instagram"></i>
                    </span>

                    <!-- Youtube -->
                    <span class="iconSpan" id="youtubeIcon">
                        <i class="fa-brands fa-youtube"></i>
                    </span>

                    <!-- WhatsApp -->
                    <span class="iconSpan" id="whatsappIcon">
                        <i class="fa-brands fa-whatsapp"></i>
                    </span>
                </div>
            </div>
        </section>

        <!-- Rest About Me Section 2 -->
        <section id="aboutMeSec2">
            <p>My sets are a dynamic fusion of the latest chart-toppers, timeless classics, and custom remixes—crafted
                to reflect my unique style and personality. With state-of-the-art equipment and a commitment to
                delivering unparalleled sound quality, I ensure every event is a truly immersive experience.</p>

            <p>Whether it’s an intimate celebration or a large-scale event, my goal is to make your occasion
                extraordinary. With a keen understanding of your vision and a dedication to perfection, I’ll provide the
                soundtrack to moments you’ll cherish forever.</p>

            <p>Let’s collaborate to create an event filled with energy, joy, and unforgettable memories. Thank you for
                considering me as your DJ—I can’t wait to make your next event a spectacular success!</p>
        </section>

        <!-- My Work -->
        <section id="myWorkSec">
            <h3>My Work</h3>

            <!-- Left Wedding -->
            <div id="workCards">
                <div class="workCard">

                    <!-- Image -->
                    <img src="../asset/image/wedding-party.jpg" alt="Wedding image">

                    <!-- Title -->
                    <h2>Wedding Events</h2>

                    <!-- Content -->
                    <div class="workCardText">
                        <p>Weddings are a celebration of love, and I’m here to make your special day even more
                            memorable. With a curated playlist that reflects your unique love story, I’ll create an
                            atmosphere of joy and romance that you and your guests will never forget.</p>

                        <b><i>GRAND HYATT, MAHALAXMI RACE COURCE MUMBAI, WANKHEDE STADIUM MUMBAI, SNDT COLLEGE, SANTACRUZ, JW MARRIOTT SAHAR, DAMAN, VAPI, RAJASTHAN,
                                PUNE, KOLKATA, BANGALORE</i></b>
                    </div>
                </div>

                <!-- Right Private -->
                <div class="workCard">

                    <!-- Image -->
                    <img src="../asset/image/private-party.jpg" alt="Private Party image">

                    <!-- Title -->
                    <h2>Personal Parties</h2>

                    <!-- Content -->
                    <div class="workCardText">
                        <p>Whether it’s a birthday, anniversary, or any other special occasion, I’ll bring the party to
                            life with a mix of your favorite tunes and the latest hits. From intimate gatherings to
                            large-scale celebrations, I’ll create a vibrant atmosphere that keeps the energy high and
                            the dance floor packed.</p>

                        <b><i>WANKHEDE STADIUM MUMBAI, LONAVALA, KARJAT, ODISHA, PUNE</i></b>
                    </div>
                </div>
            </div>

            <!-- College Events -->
            <div class="collegeEventsDiv">
                <img src="../asset/image/college-events.jpg" alt="College Events image" class="college-img2">
                <img src="../asset/image/college.jpg" alt="College Events image" class="college-img">

                <div>
                    <h2>College Events</h2>
                    <p>College events are all about fun, energy, and unforgettable memories. As a DJ who’s performed at
                        numerous college festivals and events, I know how to keep the crowd engaged and the party going
                        all night long. With a mix of the latest tracks and classic hits, I’ll create an electrifying
                        atmosphere that students will love.</p>

                    <b><i>MUMBAI UNIVERSITY, KALINA</i></b>
                    <b><i>SNDT GIRLS COLLEGE, SANTACRUZ</i></b>
                    <b><i>K. J. SOMAIYA, VIDYAVIHAR, MUMBAI</i></b>
                    <b><i>K. J. SOMAIYA INSTITUTE OF TECHNOLOGY, SION</i></b>
                    <b><i>VES INSTITUTE OF TECHNOLOGY, CHEMBUR</i></b>
                    <b><i>VES INSTITUTE MANAGEMENT, CHEMBUR</i></b>
                    <b><i>VES COLLEGE OF ARTS, SCIENCE & COMMERCE, CHEMBUR</i></b>
                    <b><i>VES POLYTECHNIC, CHEMBUR</i></b>
                    <b><i>VES JUNIOR COLLEGE, KURLA</i></b>
                </div>
            </div>

            <!-- Top Work -->
            <div class="collegeEventsDiv topWorkCard">
                <img src="../asset/image/dj-controller.jpg" alt="DJ Controller image" class="college-img2">
                <img src="../asset/image/club.jpg" alt="DJ Controller image" class="college-img">

                <div>
                    <h2>My Top Events</h2>
                    <p>I’ve had the chance to perform at some amazing events—whether it’s a wedding, a fun party, or a
                        huge festival. Each event has been special, and I love creating the right vibe and keeping
                        everyone on their feet. I’m grateful for all the awesome memories I’ve helped make along the
                        way!</p>

                    <b><i>TAJ HOTEL, MUMBAI</i></b>
                    <b><i>SAHARA STAR HOTEL, VILE PARLE</i></b>
                    <b><i>PHOENIX MARKET CITY MALL, KURLA</i></b>
                    <b><i>HIRANANDANI, POWAI</i></b>
                    <b><i>SUN N SAND BANQUET, JUHU</i></b>
                    <!-- <b><i>BKC</i></b> -->
                    <b><i>TREAT BEACH RESORT & SPA, DAMAN</i></b>
                    <b><i>R CITY MALL</i></b>
                    <b><i>LONAVALA</i></b>
                    <b><i>SEAWOODS, NAVI MUMBAI</i></b>
                    <b><i>SEA N ROCK HOTEL, THANE</i></b>
                </div>
            </div>

            <!-- Count -->
            <div class="content">
                <div>
                    <div class="value" akhi="150">0</div>
                    <p>+ WEDDINGS IN MUMBAI</p>
                </div>
                <div>
                    <div class="value" akhi="100">0</div>
                    <p>+ BIRTHDAY PARTIES</p>
                </div>
                <div>
                    <div class="value" akhi="30">0</div>
                    <p>+ COLLEGE EVENTS</p>
                </div>
                <div>
                    <div class="value" akhi="100">0</div>
                    <p>+ CORPORATE EVENTS</p>
                </div>
            </div>
        </section>

        <!-- Education -->
        <section id="myWorkSec">
            <h3>My Qualification</h3>

            <div id="workCards">
                <!-- Education -->
                <div class="workCard edu">
                    <h2>Education</h2>

                    <div class="workCardText">
                        <p><b>M. Com.</b> - K. J. Somaiya College of Arts & Commerece, Somaiya University</p>
                        <p><b>B. Com.</b> - K. J. Somaiya College of Science & Commerece, Somaiya University</p>
                        <p><b>HSC Com.</b> - K. J. Somaiya College of Science & Commerece, MSBSHSE</p>
                        <p><b>SSC</b> - SK Pantwalawalkar Secondary High School, MSBSHSE</p>
                    </div>
                </div>

                <!-- Training -->
                <div class="workCard training">
                    <h2>Training</h2>

                    <div class="workCardText">
                        <p><b>Diploma</b> - Music & Technology</p>
                        <p><b>Disk Jockey</b> - Bora Bora Club, Juhu</p>
                        <p><b>Disk Jockey</b> - Salud Club, Juhu</p>
                        <p><b>Disk Jockey</b> - Hide Club, CST</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <div id="part-1">
            <!-- Book Now Section -->
            <div id="bookNowDiv">
                <h1>Book Me Now</h1>
                <p>Ready to take your event to the next level? Book me now and let's make it a night to remember!
                </p>
                <button class="button-85" role="button" id="book-now-btn">Book Now</button>
            </div>

            <!-- Footer Links -->
            <div id="links-div">
                <div class="links-child">
                    <a target="_blank" href="tel:9769794670">+91 97697 94670</a>
                    <a target="_blank" href="mailto:ganeshsony94@gmail.com">ganeshsony94@gmail.com</a>
                    <a target="_blank" href="https://maps.app.goo.gl/xnBjsDeZxsL24yUX6/">Shell Colony, Chembur, Mumbai -
                        71</a>
                    <a target="_blank" href="https://www.djgsonyyyyy.in/">djgsonyyyyy.in</a>
                </div>
                <div class="links-child">
                    <a href="../">Home</a>
                    <a href="../view/videos.html?type=1">Videos</a>
                    <a href="../view/videos.html?type=2">Vlogs</a>
                    <a href="../view/contact.html">Bookings</a>
                    <a href="../view/about.html">About</a>
                    <a href="../view/login.html">Login</a>
                </div>
                <div class="links-child">
                    <a target="_blank" href="https://www.facebook.com/DJGSONYYYYY/">Facebook</a>
                    <a target="_blank" href="https://www.instagram.com/djgsonyyyyy/">Instagram</a>
                    <a target="_blank" href="https://www.youtube.com/@djgsonyyyyy?sub_confirmation=1">YouTube</a>
                    <a target="_blank" href="https://wa.me/919769794670">WhatsApp</a>
                    <a target="_blank" href="../asset/pdf/DJGSONYYYYY Visiting Card.pdf">Visiting Card</a>
                </div>
            </div>
        </div>

        <!-- Horizontal Divider -->
        <div id="divider"></div>

        <!-- DJ Logo -->
        <img src="../asset/image/djg-logo-1.png" alt="DJGSONYYYYY" id="footer-img">
        <p style="margin: auto;">© 2025 DJGSONYYYYY. All Rights Reserved.</p>

        <!-- Dev Info -->
        <div id="dev-info">
            <div id="designed-by">
                <p>Designed by
                <h1 id="algodevs-h1">AlgoDevs</h1>
                </p>
            </div>

            <!-- Dev Info Links -->
            <div id="social-media">
                <a target="_blank" href="https://www.linkedin.com/in/balotiyash/"><i
                        class="icon fab fa-linkedin"></i></a>
                <a target="_blank" href="https://github.com/balotiyash/"><i class="icon fa-brands fa-github"></i></a>
                <a target="_blank" href="https://www.facebook.com/profile.php?id=100004170767093/"><i
                        class="icon fab fa-facebook-f"></i></a>
                <a target="_blank" href="https://www.instagram.com/bella_ciao_adios?utm_source=qr"><i
                        class="icon fab fa-instagram"></i></a>
                <a target="_blank" href="https://balotiyash.github.io/Personal-Portfolio/"><i
                        class="icon fa-solid fa-globe"></i></a>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="../controller/navbar.js"></script>
    <script src="../controller/about.js"></script>
</body>

</html>